<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Fun with Vue!!!</title>
</head>
<body>

  <div id="root">
    <!-- <h1 v-bind:title="tooltip">Fun with Vue!</h1> -->
    <h1 :title="tooltip">Fun with Vue!</h1>
    <h2>{{ message }}</h2>

    <p v-if="visible">Show me all the time!</p>
    <p v-else>No show me instead!</p>

    <!-- <button v-on:click="onClick">Click Me!</button> -->
    <button @click="onClick">Click Me!</button>

    <p>Counter: {{ counter }}</p>
    <button @click="incrementCounter">+1</button>

    <h3>{{ reverseUsername }}</h3>

    <form>
      <label for="username">Username:</label>
      <input type="text" id="username" v-model="loginForm.username" />
      <br/>
      <label for="password">Password:</label>
      <input type="password" id="password" v-model="loginForm.password" />
      <br/>
      <button @click.prevent="onSubmitLoginForm">Login!</button>
    </form>

    <ul>
      <li v-for="post of posts">
        <h2>{{ post.title }} ({{ post.nickname }})</h2>
      </li>
    </ul>
  </div>

  <script src="app.js"></script>
</body>
</html>
